<div class="jumbotron">
  <h1>Cv</h1>
</div>

<div class="cv_presentation">

  <h1>Informations personelles</h1>
  <span class="info">Mail:</span> <span>{{cvValue.Contact}}</span></br>
  <span class="info">Nom:</span> <span>{{cvValue.Info.Nom}}</span></br>
  <span class="info">Prenom:</span> <span>{{cvValue.Info.Prenom}}</span></br>
  <h1>Etudes : </h1>

  <ul ng-repeat="post in cvValue.Parcours">
    <li class="info">{{post.Annee}}</li>
    {{post.Etablissement}}
    {{post.Info}}
  </ul>

  <h1>Competences :</h1>

  <ul ng-repeat="post in cvValue.Competences">
    <li class="info">{{post.Langue}}</li>
  </ul>

</div>
