
<div class="jumbotron">
  <h1>Acceuil</h1>
</div>

<div class="row marketing">
  <ul ng-repeat="post in posts.News">
    <li class="liclass">{{post.NewsTitle}}</li>
    {{post.TextNews}}
  </ul>

</div>

