<div class="jumbotron">
  <h1>Projets</h1>
</div>

<div class="row marketing">
  <ul ng-repeat="post in projetValue.Project">
    <li class="liclass">{{post.Name}}</li>
    {{post.Text}}
  </ul>

</div>
